body {
    margin-top: 5%;
    font-size: 777%;
    color: #ff6347; /* Change this to the color you want */
    background-color: antiquewhite;
}
#question {
    height: 33%;
    /* font-size: larger; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#answer {
    height: fit-content;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column; /* This makes the elements stack vertically */
}
#userAnswer {
    width: fit-content;
    height: fit-content;
    font-size: 1em;
    color: #ff6347;
    background-color: burlywood;
    text-align: center; /* Center the input text */
}
button {
    width: fit-content;
    height: fit-content;
    font-size: 1em;
    color: #ff6347;
    background-color: burlywood;
}
