body {
    margin-top: 20%;
    font-size: 500%;
    color: #ff6347; /* Change this to the color you want */
    background-color: antiquewhite;
}
#question {
    height: 33%;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}
#answer {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* This makes the elements stack vertically */
}
#userAnswer {
    width: 50%;
    height: 10%;
    font-size: 1em;
    color: #ff6347;
    background-color: burlywood;
    text-align: center; /* Center the input text */
}
button {
    width: 25%;
    height: 10%;
    font-size: 1em;
    color: #ff6347;
    background-color: burlywood;
}
